CreateUpdateFinalLicenseDraft/CreateUpdateFinalLicenseDraft.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Taheel/CenterEstablishment/CreateUpdateFinalLicenseDraft/v1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Taheel/CenterEstablishment/CreateUpdateFinalLicenseDraft/v1.0" xmlns:bons1="http://Takamol/Common/Types" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">

    <xsd:import namespace="http://Takamol/Common/Types"  schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>
 
    <xsd:element name="CreateUpdateFinalLicenseDraftRq"  type="bons0:CreateUpdateFinalLicenseDraftRq_Type"/>
    <xsd:element name="CreateUpdateFinalLicenseDraftRs" type="bons0:CreateUpdateFinalLicenseDraftRs_Type"/>
     
    <complexType name="CreateUpdateFinalLicenseDraftRq_Type">
        <sequence>
            <xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>
            <xsd:element name="Body" type="bons0:CreateUpdateFinalLicenseDraftRq_BodyType"/>
        </sequence>
    </complexType>
    
    <complexType name="CreateUpdateFinalLicenseDraftRs_Type"> 
        <sequence>
            <xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
            <xsd:element minOccurs="0" name="Body" type="bons0:CreateUpdateFinalLicenseDraftRs_BodyType"/>
        </sequence>
    </complexType>

 

    <complexType name="CreateUpdateFinalLicenseDraftRq_BodyType">
    <all>

		 <element minOccurs="1" name="DraftData" type="string"/>
         <element minOccurs="0" name="DraftId" type="integer"/> 
         
    </all>
    </complexType>  

    
    <complexType name="CreateUpdateFinalLicenseDraftRs_BodyType">
		<all>
		 <element minOccurs="1" name="DraftId" type="integer"/>
		</all>
    </complexType>
    
    
</xsd:schema>