TaheelCenterUserPasswordReset/TaheelCenterUserPasswordReset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://Taheel/UserManagemnet/TaheelCenterUserPasswordReset/v1.0" xmlns="http://www.w3.org/2001/XMLSchema"
 xmlns:bons0="http://Taheel/UserManagemnet/TaheelCenterUserPasswordReset/v1.0" xmlns:bons1="http://Takamol/Common/Types"
  xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
	<xsd:import namespace="http://Takamol/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/> 

 
	<xsd:element name="TaheelCenterUserPasswordResetRq" type="bons0:TaheelCenterUserPasswordResetRq_Type"/>
	<xsd:element name="TaheelCenterUserPasswordResetRs" type="bons0:TaheelCenterUserPasswordResetRs_Type"/> 
	
	<complexType name="TaheelCenterUserPasswordResetRq_Type"> 
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>
			<xsd:element name="Body" type="bons0:TaheelCenterUserPasswordResetRq_BodyType"/>
		</sequence>
	</complexType>
	<complexType name="TaheelCenterUserPasswordResetRs_Type"> 
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
			<xsd:element name="Body" type="bons0:TaheelCenterUserPasswordResetRs_BodyType"/>
		</sequence>
	</complexType>
	
	<complexType name="TaheelCenterUserPasswordResetRq_BodyType">
		<all>
			<element minOccurs="1" name="IdNo" type="integer"/>	
			<element minOccurs="1" name="Password" type="string" />
		</all>	
	</complexType>
	<complexType name="TaheelCenterUserPasswordResetRs_BodyType">
	</complexType>
	
<!-- 	<simpleType name="Password_Type">
			<restriction base="string">
				<pattern value="" />
			</restriction>
		</simpleType> -->
	
</xsd:schema>